:root {

    /* colors */
    --orange: hsl(25, 97%, 53%);

    --white: hsl(0, 0%, 100%);
    --lt-grey: hsl(217, 12%, 63%);
    --med-grey: hsl(216, 12%, 54%);
    --dk-blue-400: hsl(213, 18%, 25%);
    --dk-blue-450: hsl(213, 19%, 18%);
    --very-dk-blue: hsl(216, 12%, 8%);

    /* components */
    --clr-main-bg: var(--very-dk-blue);
    --clr-card-bg: var(--dk-blue-450);

    --clr-text-heading: var(--white);
    --clr-text-primary: var(--lt-grey);

    --clr-circle-primary: var(--dk-blue-400);
    --clr-circle-hover: var(--orange);
    --clr-circle-active: var(--lt-grey);

    --clr-button-primary: var(--orange);
    --clr-button-active: var(--white);

    /* font-size */
    --fs-400: 0.938rem;
    --fs-500: 1.063rem;
    --fs-700: 1.75rem;
    --fs-800: 1.875rem;

    /* font-weight */
    --fw-regular: 400;
    --fw-bold: 700;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* styling */

body {
    background-color: var(--clr-main-bg);
    color: var(--clr-text-primary);
    font-family: 'Overpass', sans-serif;
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);

    display: grid;
    place-content: center;
    /* justify-content: center; */
}

section {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-card-bg);
    border-radius: 30px;
    max-width: 25.75rem;

}

/* rating card */

.card--rating {
    padding: 2rem 2.438rem 2rem 2rem;
}

.icon {
    background-color: var(--clr-circle-primary);
    border-radius: 50%;
    padding: 1rem;
}

.card__title {
    color: var(--clr-text-heading);
    font-size: var(--fs-700);
    margin: 1.813rem 0 0.375rem;
}

.card__text--rating {
    line-height: 1.65;
}

.rating-form {
    display: flex;
    justify-content: space-between;
    margin: 1.625rem 0 2rem;
}

input[type=radio] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

input[type=radio]:focus+label {
    border: 2px solid blue;
}

input[type=radio]:checked+label {
    background-color: var(--clr-circle-active);
    color: var(--clr-text-heading);
}

input[type=radio]:hover+label {
    cursor: pointer;
    background-color: var(--clr-circle-hover);
    color: var(--clr-text-heading);

}

label {
    background-color: var(--clr-circle-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 3.125rem;
    aspect-ratio: 1/1;
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    transition: all 250ms ease-in-out;

}

button {
    cursor: pointer;
    background-color: var(--clr-button-primary);
    color: var(--clr-text-heading);
    border-radius: 50px;
    border: none;
    padding: 0.7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 250ms ease-in-out;
}

button:hover {
    background-color: var(--clr-button-active);
    color: var(--clr-button-primary);
}

/* success card */

.card--success {
    padding: 2.813rem 2.125rem 3rem 2rem;
    align-items: center;
    text-align: center;
}

.card--score {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-circle-primary);
    color: var(--clr-button-primary);
    border-radius: 20px;
    height: 2rem;
    width: 11.938rem;
    margin: 2.063rem 0 1.813rem;
}

.card--score p {
    margin-bottom: -3px;
}

.card__subtitle {
    color: var(--clr-text-heading);
    font-size: var(--fs-800);
}

.card__text--success {
    margin-top: 0.375rem;
    line-height: 1.6;
}

/* utility */

.hidden {
    display: none;
}